<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @pass.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @pass.end_time %>
</p>

<p>
  <strong>Client:</strong>
  <%= @pass.client %>
</p>

<%= link_to 'Edit', edit_pass_path(@pass) %> |
<%= link_to 'Back', passes_path %>
