<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h3>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <h3><strong>Mesa: </strong> <%= @table.name %> </h3>

   <div class="row">

     <div class="col-xs-1">
        <h3>Cant</h3>      
      </div>
      <div class="col-xs-2">
        <h3>Proucto</h3>     
      </div>
      <div class="col-xs-1">
        <h3>Precio</h3>     
      </div>
      <div class="col-xs-1">
        <h3>Total</h3>     
      </div>

    </div>

   <% @orders.each do |order|  %>

    <% product = Product.find(order.product_id) %>

    <div class="row">
      <div class="col-xs-1">
        <h4><%= order.quantity %></h4>      
      </div>
      <div class="col-xs-2">
        <h4><%= product.name %></h4>      
      </div>
      <div class="col-xs-1">
        <h4><%= product.price %></h4>      
      </div>
      <div class="col-xs-1">
        <h4><%= product.price * order.quantity %></h4>      
      </div>
    </div>

   <%end%>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
