<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :invoice_client_id %>
  </div>

  <div class="field">
    <%= form.label :table_id %>
    <%= form.text_field :table_id, id: :invoice_table_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :invoice_user_id %>
  </div>

  <div class="field">
    <%= form.label :subtotal %>
    <%= form.text_field :subtotal, id: :invoice_subtotal %>
  </div>

  <div class="field">
    <%= form.label :taxes %>
    <%= form.text_field :taxes, id: :invoice_taxes %>
  </div>

  <div class="field">
    <%= form.label :service %>
    <%= form.text_field :service, id: :invoice_service %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :invoice_total %>
  </div>

  <div class="field">
    <%= form.label :date_time %>
    <%= form.date_select :date_time, id: :invoice_date_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
