<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Table</th>
      <th>User</th>
      <th>Subtotal</th>
      <th>Taxes</th>
      <th>Service</th>
      <th>Total</th>
      <th>Date time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.client %></td>
        <td><%= invoice.table %></td>
        <td><%= invoice.user %></td>
        <td><%= invoice.subtotal %></td>
        <td><%= invoice.taxes %></td>
        <td><%= invoice.service %></td>
        <td><%= invoice.total %></td>
        <td><%= invoice.date_time %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
