<p id="notice"><%= notice %></p>

<h1>Facturas</h1>

<div id="last_invoices">
    <h2>Histórico de facturas</h2>
    <% @invoices.reverse.each do |invoice|%>
      <div class="row invoice_box">
        <div class="col-xs-1"><%=invoice.id%> - </div>
        <div class="col-xs-2"> Mesa: <%=invoice.table.name%></div>
        <div class="col-xs-2 pull-right"><%= link_to 'Imprimir factura', invoice, :target => "_blank" , class:'btn btn-default'%></div>
      </div>
    <% end %>
  </div>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
