<p id="notice"><%= notice %></p>

<h1>Invoices</h1>

<table>
  <thead>
    <tr>
      <th>Date time</th>
      <th>Client</th>
      <th>Amount</th>
      <th>Tax amount</th>
      <th>Total amount</th>
      <th>Table number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.date_time %></td>
        <td><%= invoice.client %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.tax_amount %></td>
        <td><%= invoice.total_amount %></td>
        <td><%= invoice.table_number %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invoice', new_invoice_path %>
