<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @invoice.client %>
</p>

<p>
  <strong>Table:</strong>
  <%= @invoice.table %>
</p>

<p>
  <strong>User:</strong>
  <%= @invoice.user %>
</p>

<p>
  <strong>Subtotal:</strong>
  <%= @invoice.subtotal %>
</p>

<p>
  <strong>Taxes:</strong>
  <%= @invoice.taxes %>
</p>

<p>
  <strong>Service:</strong>
  <%= @invoice.service %>
</p>

<p>
  <strong>Total:</strong>
  <%= @invoice.total %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @invoice.date_time %>
</p>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', invoices_path %>
