<%= form_with(model: table_game, local: true) do |form| %>
  <% if table_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table_game.errors.count, "error") %> prohibited this table_game from being saved:</h2>

      <ul>
      <% table_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :table_game_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :table_game_description %>
  </div>

  <div class="field">
    <%= form.label :qt_in_use %>
    <%= form.number_field :qt_in_use, id: :table_game_qt_in_use %>
  </div>

  <div class="field">
    <%= form.label :qt_in_bk %>
    <%= form.number_field :qt_in_bk, id: :table_game_qt_in_bk %>
  </div>

  <div class="field">
    <%= form.label :penalty_cost %>
    <%= form.text_field :penalty_cost, id: :table_game_penalty_cost %>
  </div>

  <div class="field">
    <%= form.label :serial %>
    <%= form.text_field :serial, id: :table_game_serial %>
  </div>

  <div class="field">
    <%= form.label :bin %>
    <%= form.text_field :bin, id: :table_game_bin %>
  </div>

  <div class="field">
    <%= form.label :dificulty_level %>
    <%= form.number_field :dificulty_level, id: :table_game_dificulty_level %>
  </div>

  <div class="field">
    <%= form.label :outdoor_usable %>
    <%= form.check_box :outdoor_usable, id: :table_game_outdoor_usable %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
