<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @table_game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @table_game.description %>
</p>

<p>
  <strong>Qt in use:</strong>
  <%= @table_game.qt_in_use %>
</p>

<p>
  <strong>Qt in bk:</strong>
  <%= @table_game.qt_in_bk %>
</p>

<p>
  <strong>Penalty cost:</strong>
  <%= @table_game.penalty_cost %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @table_game.serial %>
</p>

<p>
  <strong>Bin:</strong>
  <%= @table_game.bin %>
</p>

<p>
  <strong>Dificulty level:</strong>
  <%= @table_game.dificulty_level %>
</p>

<p>
  <strong>Outdoor usable:</strong>
  <%= @table_game.outdoor_usable %>
</p>

<%= link_to 'Edit', edit_table_game_path(@table_game) %> |
<%= link_to 'Back', table_games_path %>
