<%= form_with(model: library_access, local: true) do |form| %>
  <% if library_access.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(library_access.errors.count, "error") %> prohibited this library_access from being saved:</h2>

      <ul>
      <% library_access.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, id: :library_access_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time, id: :library_access_end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
