<p id="notice"><%= notice %></p>

<p>
  <strong>Pid:</strong>
  <%= @client.pid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @client.is_active %>
</p>

<p>
  <strong>Inactivation text:</strong>
  <%= @client.inactivation_text %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
