<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @rental.client %>
</p>

<p>
  <strong>Table game:</strong>
  <%= @rental.table_game %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
