<%= form_for [@table, @order] do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @category != nil %>

    <% @category.each  do |category| %>

      <div class="field">
        <%= form.label category.name %>
        <%= form.text_field :product_id, id: :order_product_id %>
      </div>

    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :order_product_id %>
  </div>

  <div class="field">
    <%= form.label :pass_id %>
    <%= form.text_field :pass_id, id: :order_pass_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :order_quantity %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :order_status %>
  </div>

  <div class="field">
    <%= form.label :date_time %>
    <%= form.date_select :date_time, id: :order_date_time %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :order_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
