<%= form_for [@table, @order] do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <h4 style="color: white; text-align: center; " class=<%= @table.is_outdoor ? 'outdoor' : 'indoor' %>>
    <strong>Mesa: <%=@table.name%> - <%= @table.is_outdoor ? 'Exterior' : 'Interior' %> - <%= @table.location %></strong>
    </h4>


    <% if @categories != nil %>

      <% @categories.each  do |category| %>

        <a href="#cat_<%= category.id%>" class="align-center ">
          <div class="col-xs-3 category_box">
            <h2 class="centered_text"><%= category.name %></h2>
          </div>
        </a>

      <% end %>
    <% end %>

  </div>

  
  <% if @categories != nil %>
    </div>
    <% @categories.each do |category| %>
      <div class = "col-xs-4">
        <div class="row" id="cat_<%= category.id %>" >
          <h2 class="centered_text"><%= category.name %></h2>
          <% category.products.order("name asc").each do |product| %>
            <div class="row product_box">
              
              <div class="col-xs-4">
                <h2 class="orders_box"><%= product.name %></h2>
                <%= form.label "Indicaciones", class:"form-label" %>
                <%= form.text_field :comment, id: :order_comment, name: 'comment_' + product.id.to_s, class:"form-control" %>
              </div>
              <div class="col-xs-3">
                <h4><%= product.description %></h4>
              </div>
              
              <div class="col-xs-3">
                
                <div class="form-group">
                  <%= form.label "Cantidad", class:"form-label" %>
                  <%= form.number_field :quantity, id: :order_quantity, name: 'qt_' + product.id.to_s, class:"form-control" %>
                  <%= form.label "Orenar", class:"form-label" %>
                  <%= form.button 'Ordenar', value: product.id.to_s, name: 'ordered_product', class: 'btn btn-default', type: 'submit' %>
                </div>
              </div>
              
              <div class="col-xs-2">
                <img src="<%= product.photo.url %>" class="img-rounded img-responsive">
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

<div style="height: 0; width: 0; overflow: hidden;">
  <%= form.text_field :pass_id, id: :order_pass_id %>
</div>

<% end %>
