<%= form_for [@table, @order] do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <% if @categories != nil %>

      <% @categories.each  do |category| %>

        <a href="#cat_<%= category.id%>" class="align-center ">
          <div class="col-xs-12 category_box">
            <h2 class="centered_text"><%= category.name %></h2>
          </div>
        </a>

      <% end %>
    <% end %>

  </div>

  
  <% if @categories != nil %>

    <% @categories.each do |category| %>
      <div class="row" id="cat_<%= category.id %>" >
        <h2 class="centered_text"><%= category.name %></h2>
        <% category.products.order("name asc").each do |product| %>
          <div class="row">
            <div class="col-xs-2">
              <img src="<%= product.photo.url %>" height="150" max-width="150">
            </div>
            <div class="col-xs-3">
              <h2><%= product.name %></h2>
            </div>
            <div class="col-xs-3">
              <h4><%= product.description %></h4>
            </div>
            
            <div class="col-xs-3">
              <div class="field">
                <%= form.label "Cantidad" %>
                <%= form.number_field :quantity, id: :order_quantity, name: 'qt_' + product.id.to_s %>
                  
              </div>
              <div class="actions">
                <%= form.button 'Ordenar', value: product.id.to_s, name: 'ordered_product', class: 'btn btn-default', type: 'submit' %>
                  
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>