<p id="notice"><%= notice %></p>

<p>
  <strong>Food:</strong>
  <%= @food_tax_assigment.food %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @food_tax_assigment.tax %>
</p>

<%= link_to 'Edit', edit_food_tax_assigment_path(@food_tax_assigment) %> |
<%= link_to 'Back', food_tax_assigments_path %>
