<%= form_with(model: table, local: true) do |form| %>
  <% if table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table.errors.count, "error") %> prohibited this table from being saved:</h2>

      <ul>
      <% table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, class: "form-control" , id: :table_name %>
  </div>
  </br>
  </br>
  <div class="form-check">
    <label class="form-check-label">
      Mesa en exteriores
      <%= form.check_box :is_outdoor, class: "form-check-input" , id: :table_is_outdoor %>
    </label>
  </div>

  </br>
  </br>

  <div class="form-group">
    <%= form.label "Ubicación" %>
    <%= form.text_field :location, class: "form-control", id: :table_location %>
  </div>
</br>

  <div class="actions">

    <%= button_tag(type: 'submit') do %>
      <div style="height: 110px;" class="btn btn-default btn-lg">
            <h1 class="display-1"><span class="glyphicon glyphicon-ok-sign"></span>Guardar</h1>
      </div>
    <% end %>
  </div>


<% end %>
