<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Administración de Mesas</h1>

<div class = "row text-center align-center">
  <% table_count = 0 %>
  <% @tables.each do |table| %>

    <div class="col-xs-6 table_box  <%= table.is_outdoor ? 'outdoor' : 'indoor' %>">
      <h2><%=table.name%></h2>
    </br>
      <%= link_to edit_table_path(table) do %>

        <div class="btn_edit">
          <h5 class="centered_text"> Editar </h5> 
        </div>

      <% end %>

      <%= link_to  table, method: :delete, data: { confirm: 'Are you sure?' } do %>

        <div class="btn_delete center-block">
          <h5 class="centered_text"> Eliminar </h5>
        </div>

      <% end %>
    </div>


    <% if table_count == 2 %>
      </div>
      <div class = "row text-center align-center">
      <% table_count = 0 %>  
    <% else %>
      <% table_count = table_count + 1 %>
    <% end %>  

  <% end %>
</div>
  <br>

  <%= link_to 'Agregar Mesa', new_table_path, class:'btn btn-lg btn-success ' %>
</div>