<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Panel de Administración</h1>

  <div class="row">

    <a href="<%= tables_path%>">
      <div class="col-xs-3 admin_btn">
        <h2> Mesas </h2>
      </div>
    </a>

    <a href="<%= kitchen_index_path%>">
      <div class="col-xs-3 admin_btn">
        <h2> Cocina </h2>
      </div>
    </a>
    <a href="<%= bar_index_path%>">
      <div class="col-xs-3 admin_btn">
        <h2> Bar </h2>
      </div>
    </a>
    <a href="<%= invoice_index_tables_path%>">
      <div class="col-xs-3 admin_btn">
        <h2> Facturación </h2>
      </div>
    </a>

  </div>

  
</div>