
<p id="notice"><%= notice %></p>

  <h1>Facturación por Mesa</h1>

  <div id="modal-window" class="modal" role="dialog" aria-labelledby="myModalLabel" ></div>

  <div id="tables_with_orders" class = "row text-center align-center">
    
    <% @tables.each do |table| %>

      <div class="col-xs-2 table_box  <%= table.is_outdoor ? 'outdoor' : 'indoor' %>">
        <h2><%=table.name%></h2>
      </br>

        <%= button_to "Facturar", generate_invoice_invoices_path( :table => table.id, :detailed => false), class:'btn btn-default'  %>

        <%= link_to "Por linea",  table_detailed_invoice_path(table, :id => table.id), {:target => 'blank', 'class' => "btn btn-default"} %>

      </div>


    <% end %>
  </div>

  <div id="last_invoices">
    <% @invoices = Invoice.last(10) %>

    <h2>Últimas 10 facturas</h2>
    <% @invoices.reverse.each do |invoice|%>
      <div class="row invoice_box">
        <div class="col-xs-1"><%=invoice.id%> - </div>
        <div class="col-xs-2"> Mesa: <%=invoice.table.name%></div>
        <div class="col-xs-2 pull-right"><%= link_to 'Imprimir factura', invoice, :target => "_blank" , class:'btn btn-default'%></div>
      </div>
    <% end %>
  </div>


  <br>


  <script type="text/javascript">

    function loadtable() {
        $('#tables_with_orders').load("invoice_index #tables_with_orders");
        $('#last_invoices').load("invoice_index #last_invoices");
    }
    
    setInterval(loadtable, 5000);
  </script>

