
	<p id="notice"><%= notice %></p>

	<h4 style="color: white; text-align: center;" class=<%= @table.is_outdoor ? 'outdoor' : 'indoor' %>>
	  <strong><%= @table.is_outdoor ? 'Exterior' : 'Interior' %> - <%= @table.location %></strong>
	</h4>

	<h2>
	  <strong>Mesa - </strong>
	  <%= @table.name %>
	</h2>
	<div class="row">
		<div class=" col-xs-12 center_content">
			<a href=<%= new_table_order_path(@table) %>>
				<div class="col-xs-5 order_box product" > 
					<h1 class="centered_text">
						<strong>Ordenar alimentos</strong>
					</h1>
				</div>
			</a>
			<a href="#">
				<div class="col-xs-5 order_box board_game" > 
					<h1 class="centered_text">
						<strong>Ordenar Juegos</strong>
					</h1>
				</div>
			</a>
		</div>
	</div>

	<div class="orders">

		<div class="row row_header">

			<div class="col-xs-2 header">
				<h4> Producto </h4>
			</div>

			<div class="col-xs-1 header">
				<h4> Cantidad </h4>
			</div>


			<div class="col-xs-2 header">
				<h4> Hora Pedido </h4>
			</div>

			<div class="col-xs-2 header">
				<h4> Comentario </h4>
			</div>

			<div class="col-xs-2 header">
				<h4> Estado </h4>
			</div>

			<div class="col-xs-2">
				<h4>Cancelar Orden</h4>
			</div>

		</div>
		
		<div class="order_line">
				<% @orders.each do |order| %>

			<div id="table">

					<div class = "row">

						<% product = Product.find(order.product_id)%>

						<div class="col-xs-2">
							<h5> <%= product.name %> </h5>
						</div>

						<div class="col-xs-1">
							<h5> <%= order.quantity %> </h5>
						</div>


						<div class="col-xs-2">
							<h5> <%= order.created_at.strftime("%I:%M:%S%p") %> </h5>
						</div>

						<div class="col-xs-2">
							<p> <%= order.comment %> </p>
						</div>

						<div class="col-xs-2">
							<p> <%= order.status %> </p>
						</div>

						<div>
							<%= link_to 'Cancelar Orden',table_order_path(@table, order), method: :delete, data: { confirm: '¿Cancelar Orden?' }, class:'btn btn-danger ' %> 
						</div>

					</div>

				</div>

			<% end %>
		</div>

	</div>



	
		<a href=<%= tables_path %> class="pull-right" >
		  <div style="height: 110px;" class="btn btn-default btn-lg">
          	<h1 class="display-1"><span class="glyphicon glyphicon-circle-arrow-left"></span>Volver</h1>
          </div>
        </a>
    