<%= form_with(model: table_game_tax_assigment, local: true) do |form| %>
  <% if table_game_tax_assigment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(table_game_tax_assigment.errors.count, "error") %> prohibited this table_game_tax_assigment from being saved:</h2>

      <ul>
      <% table_game_tax_assigment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :table_game_id %>
    <%= form.text_field :table_game_id, id: :table_game_tax_assigment_table_game_id %>
  </div>

  <div class="field">
    <%= form.label :tax_id %>
    <%= form.text_field :tax_id, id: :table_game_tax_assigment_tax_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
