<p id="notice"><%= notice %></p>

<h1>Table Game Tax Assigments</h1>

<table>
  <thead>
    <tr>
      <th>Table game</th>
      <th>Tax</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @table_game_tax_assigments.each do |table_game_tax_assigment| %>
      <tr>
        <td><%= table_game_tax_assigment.table_game %></td>
        <td><%= table_game_tax_assigment.tax %></td>
        <td><%= link_to 'Show', table_game_tax_assigment %></td>
        <td><%= link_to 'Edit', edit_table_game_tax_assigment_path(table_game_tax_assigment) %></td>
        <td><%= link_to 'Destroy', table_game_tax_assigment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Table Game Tax Assigment', new_table_game_tax_assigment_path %>
