<p id="notice"><%= notice %></p>

<p>
  <strong>Table game:</strong>
  <%= @table_game_tax_assigment.table_game %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @table_game_tax_assigment.tax %>
</p>

<%= link_to 'Edit', edit_table_game_tax_assigment_path(@table_game_tax_assigment) %> |
<%= link_to 'Back', table_game_tax_assigments_path %>
