<div class="container">
	<h1>Órdenes</h1>

	<div class="row row_header">

		<div class="col-xs-2 header">
			<h4> Producto </h4>
		</div>

		<div class="col-xs-1 header">
			<h4> Cantidad </h4>
		</div>

		<div class="col-xs-2 header">
			<h4> Mesa </h4>
		</div>

		<div class="col-xs-2 header">
			<h4> Hora Pedido </h4>
		</div>

		<div class="col-xs-2 header">
			<h4> Pedido Completado </h4>
		</div>

	</div>

	<div id = "orders_table" >
		<% @orders.each do |order| %>

			<div id="table">

					<div class = "row row_field">

						<% product = Product.find(order.product_id)%>
						<% table = Table.find(order.table_id)%>
						<div class="col-xs-2">
							<h3> <%= product.name %> </h3>
						</div>

						<div class="col-xs-1">
							<h3> <%= order.quantity %> </h3>
						</div>

						<div class="col-xs-2">
							<h3> <%= table.name %> </h3>
						</div>

						<div class="col-xs-2">
							<h5> <%= order.created_at.strftime("%I:%M:%S%p") %> </h5>
						</div>

						<div class="col-xs-2">
							<h5> <%= order.comment %> </h5>
						</div>
						
						<div class="col-xs-2 button_column"  >
							
						          <%= link_to mark_as_completed_kitchen_table_order_path(table, order) do %>
						        	<div class="btn_complete"> <h4>Listo</h4> </div>
						          <%end%> 
						</div>

						<div class="col-xs-12"><h5><strong>Descripción: </strong> <%= product.description %></h5></div>
					</div>
			</div>

		<% end %>

	</div>
</div>

<script type="text/javascript">

	function loadtable() {
    	$('#orders_table').load("index #orders_table");
	}
	
	setInterval(loadtable, 5000);
</script>
