<div class="container">
	<h1>Órdenes</h1>

	<div class="row row_header">

		<div class="col-xs-2 header">
			<h4> Producto </h4>
		</div>

		<div class="col-xs-1 header">
			<h4> Cantidad </h4>
		</div>

		<div class="col-xs-2 header">
			<h4> Mesa </h4>
		</div>

		<div class="col-xs-2 header">
			<h4> Hora Pedido </h4>
		</div>

		<div class="col-xs-2 header">
			<h4> Comentario </h4>
		</div>

		<div class="col-xs-2 header">
			<h4> Pedido Completado </h4>
		</div>

	</div>

	<% @orders.each do |order| %>

		<div class = "row">

			<% product = Product.find(order.product_id)%>

		<div class="col-xs-2">
			<h5> <%= product.name %> </h5>
		</div>

		<div class="col-xs-1">
			<h5> <%= order.quantity %> </h5>
		</div>

		<div class="col-xs-2">
			<h5> <%= order.table_id %> </h5>
		</div>

		<div class="col-xs-2">
			<h5> <%= order.date_time %> </h5>
		</div>

		<div class="col-xs-2">
			<p> <%= order.comment %> </p>
		</div>

		<div class="col-xs-2">
			<h5>  </h5>
		</div>

		</div>

	<% end %>

</div>

