<div class="container">
	<h1>Órdenes</h1>

	<div class="row row_header">

		<div class="col-xs-2 header">
			<h4> Producto </h4>
		</div>

		<div class="col-xs-1 header">
			<h4> Cantidad </h4>
		</div>

		<div class="col-xs-2 header">
			<h4> Mesa </h4>
		</div>

		<div class="col-xs-2 header">
			<h4> Hora Pedido </h4>
		</div>

		<div class="col-xs-2 header">
			<h4> Pedido Completado </h4>
		</div>

	</div>

	<div id = "orders_table" >
		<% @orders.each do |order| %>

			<div id="table">

					<div class = "row row_field">

						<% product = Product.find(order.product_id)%>
						<% table = Table.find(order.table_id)%>
						<div class="col-xs-2">
							<h5> <%= product.name %> </h5>
						</div>

						<div class="col-xs-1">
							<h5> <%= order.quantity %> </h5>
						</div>

						<div class="col-xs-2">
							<h5> <%= table.name %> </h5>
						</div>

						<div class="col-xs-2">
							<h5> <%= order.created_at.strftime("%I:%M:%S%p") %> </h5>
						</div>

						<div class="col-xs-2 button_column"  >
							<div class="btn_complete">
						          <%= link_to "completado", mark_as_completed_kitchen_table_order_path(table, order), class: "text_btn" %>
						        </div> 
						</div>
					</div>
			</div>

		<% end %>

	</div>
</div>

<script type="text/javascript">

	$(document).ready(function () {
    // will call refreshPartial every 5 seconds
    setInterval(loadtable, 5000)

	});
	function loadtable() {
    	 $('#orders_table').load("index #orders_table");
	}
</script>