<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, class: "form-control", id: :category_name %>
  </div>

  <div class="form-check">
    <label class="form-check-label">
      Se sirve en el Bar:
      <%= form.check_box :is_bar, class: "form-check-input" , id: :category_is_bar %>
    </label>
  </div>

  <div class="form-group">
    <%= form.label "Descripción" %>
    <%= form.text_field :description, class: "form-control", id: :category_description %>
  </div>

  <div class="actions">

    <%= button_tag(type: 'submit') do %>
      <div style="height: 110px;" class="btn btn-default btn-lg">
            <h1 class="display-1"><span class="glyphicon glyphicon-ok-sign"></span>Guardar</h1>
      </div>
    <% end %>
  </div>


<% end %>
