<p id="notice"><%= notice %></p>

<h1>
  <%= @category.name %>
</h1>

<h3>
  <%= @category.description %>
</h3>

<% @products.each do |product| %>
		
	<div class="row product_field">

		<div class="col-xs-2">
			<img src="<%= product.photo.url %>" class="product_image">
		</div>

		<div class="col-xs-2">
			<h2> <%= product.name %> </h2>
		</div>
		<div class="col-xs-1">
			
		</div>
		<div class="col-xs-3">
			<h4> <%= product.description %> </h4>
		</div>

		<div class="col-xs-2">
			<h2> <%= product.price %> </h2>
		</div>

		<div class="col-xs-2 button_column">

			<%= link_to edit_category_product_path(@category, product) do %>

		        <div class="btn_edit">
		          <h5 class="centered_text"> Editar </h5> 
		        </div>

		    <% end %>

			<%= link_to  category_product_path(@category, product), method: :delete, data: { confirm: '¿Seguro que desea eliminar el producto?' } do %>

			    <div class="btn_products center-block">
			        <h5 class="centered_text"> Eliminar </h5>
			    </div>

      		<% end %>
		</div>

	</div>

<% end %>
<a href=<%= admin_index_categories_path %> class="pull-right" >
      <div style="height: 110px;" class="btn btn-default btn-lg">
            <h1 class="display-1"><span class="glyphicon glyphicon-circle-arrow-left"></span>Volver</h1>
      </div>
</a>

<a href=<%= new_category_product_path(@category) %>  >
      <div style="height: 110px;" class="btn btn-default btn-lg">
            <h1 class="display-1"><span class="glyphicon glyphicon-plus-sign"></span>Agregar Producto</h1>
      </div>
 </a>
