<%= form_for [@board_game_category, @board_game] do |form| %>
  <% if board_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board_game.errors.count, "error") %> prohibited this board_game from being saved:</h2>

      <ul>
      <% board_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, class: "form-control", id: :board_game_name %>
  </div>

  <div class="form-group">
    <%= form.label "Descripción" %>
    <%= form.text_field :description, class: "form-control", id: :board_game_description %>
  </div>

  <div class="form-group">
    <%= form.label "Cantidad en uso" %>
    <%= form.number_field :quantity, class: "form-control", id: :board_game_quantity %>
  </div>

  <div class="form-group">
    <%= form.label "Cantidad en respaldo" %>
    <%= form.number_field :backup_quantity, class: "form-control", id: :board_game_backup_quantity %>
  </div>

  <div class="form-group">
    <%= form.label "Costo de reposición (cobro al cliente)" %>
    <%= form.text_field :replacement_cost, class: "form-control", id: :board_game_replacement_cost %>
  </div>

  <div class="form-group">
    <%= form.label "Nivel de dificultad" %>
    <%= form.number_field :difficulty, class: "form-control", id: :board_game_difficulty %>
  </div>


  <div class="form-group">
    <p>
       Ilustración : <%= form.file_field :photo %>
    </p>
  </div>

  <div class="actions">

    <%= button_tag(type: 'submit') do %>
      <div style="height: 110px;" class="btn btn-default btn-lg">
            <h1 class="display-1"><span class="glyphicon glyphicon-ok-sign"></span>Guardar</h1>
      </div>
    <% end %>
  </div>
<% end %>
