<%= form_with(model: access_granting, local: true) do |form| %>
  <% if access_granting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(access_granting.errors.count, "error") %> prohibited this access_granting from being saved:</h2>

      <ul>
      <% access_granting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :access_granting_client_id %>
  </div>

  <div class="field">
    <%= form.label :library_access_id %>
    <%= form.text_field :library_access_id, id: :access_granting_library_access_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
