<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @access_granting.client %>
</p>

<p>
  <strong>Library access:</strong>
  <%= @access_granting.library_access %>
</p>

<%= link_to 'Edit', edit_access_granting_path(@access_granting) %> |
<%= link_to 'Back', access_grantings_path %>
